<div class="image-banner frontpage-banner frontpage-banner-parallax-bg " data-parallax="scroll" data-image-src="{{ 'assets/images/samples/vega-banner2-1-1.jpg' | theme }}">
    <div class="container">
        <div class="inner">
            <h1 class="block-title wow zoomIn">ONE PAGE BUSINESS THEME</h1>
            <div class="text-center hidden-xs wow zoomIn description">
                {% content 'intro/content' %}
                <p><a class="btn btn-primary-custom btn-margin-top" href="#">Sample button</a></p>
            </div>
        </div>
        <div class="helper"></div>
    </div>
</div>
